body {
    margin: 0;

}

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(248,249,250);
}

.pokemonPic {
    height: 150px;
    object-fit: contain;
    padding-bottom: 10px;
    margin-top: 0;
}

.pokemonCard:hover {
    cursor: pointer;
    opacity: 0.4;
}

.card-title {
    margin-bottom: 0 !important;
}

.pokemonDetailOverlay {
    display: flex;
    justify-content: center;
}

